body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    background-image: url('images/backgrond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    max-width: 1440px;
    height: auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #d7f3f3;
}
.menu-ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 15px;
}
.menu-li {
    margin: 0 15px;
}
.menu-li a {
    text-decoration: none;
    color: black;
    size: 20px;
}
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
p {
    border: 2px solid rgb(234, 237, 241);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.544);
}
.main{
    max-width: 1440px;
}
.main-container {
    justify-content: space-between;
    align-items: center;
    
}
.profile-section {
    display: flex;
    align-items: center;
}
.profile-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary-container {
    flex: 2;
}
.photo {
    width: 150px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 25px solid white;
    margin: 20px;
}
.name {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    justify-content:center;
}
.skills_section{
    border: 2px solid rgb(234, 237, 241);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.544);  
}
.code-example {
    border: 2px solid rgb(234, 237, 241);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.544);
}
.projects_container{
    border: 2px solid rgb(234, 237, 241);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.544);
    display: flex;
    justify-content: center;
}
.proj_image{
    width: 500px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.contacts-li{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 15px;
    size: 20px;
}
.footer-container{
    max-width: 1440px;
    height: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #d7f3f3;
}
.rs-image{
    height: 40px;
    margin: 20px;
}
.github-image{
    height: 40px;
    margin: 20px;
}
  .year {
    font-size: 40px;
    border-radius: 10px;
  }
  .menu-li a:hover {
    color: #5dc4d2;
}
